<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1a932dbc-15b2-498e-ac2c-1dbe413a38eb/resourcegroups/golf/providers/Microsoft.Web/sites/betagulf</ResourceId>
    <ResourceGroup>golf</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://betagulf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>betagulf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>betagulf</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$betagulf</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EGULFEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=egulf-serv-dev.database.windows.net;Initial Catalog=EGULF;Persist Security Info=True;User ID=neosoft;Password=n30s0ftD3v;Application Name=EntityFramework" Name="Data Source=egulf-serv-dev.database.windows.net;Initial Catalog=EGULF;Persist Security Info=True;User ID=neosoft;Password=n30s0ftD3v;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EGullf.Services.DA.EGULFEntities, EGullf.Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ModelContainer" Order="3" Enabled="False">
          <Destination Path="Data Source=egulf-serv-dev.database.windows.net;Initial Catalog=EGULF;Persist Security Info=True;User ID=neosoft;Password=n30s0ftD3v;Application Name=EntityFramework" Name="Data Source=egulf-serv-dev.database.windows.net;Initial Catalog=EGULF;Persist Security Info=True;User ID=neosoft;Password=n30s0ftD3v;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Security.DA.ModelContainer, Security" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Elmah.Sql" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="data source=golf-azu-sql01d.database.windows.net;initial catalog=golfdev;persist security info=True;user id=golfadmin;password=G0lfadm1n; MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Elmah.Sql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=golf-azu-sql01d.database.windows.net;initial catalog=golfdev;persist security info=True;user id=golfadmin;password=G0lfadm1n; MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>CreateSeparateAssembly</WDPMergeOption>
    <UseFixedNames>True</UseFixedNames>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Elmah.Sql-Web.config Connection String" />
    <MSDeployParameterValue Include="EGULFEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DA.EGulfModel.csdl|res://*/DA.EGulfModel.ssdl|res://*/DA.EGulfModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=egulf-serv-dev.database.windows.net;Initial Catalog=EGULF;Persist Security Info=True;User ID=neosoft;Password=n30s0ftD3v;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/DA.Model.csdl|res://*/DA.Model.ssdl|res://*/DA.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=egulf-serv-dev.database.windows.net;Initial Catalog=EGULF;Persist Security Info=True;User ID=neosoft;Password=n30s0ftD3v;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>